@model Projeto.Models.Cronograma

@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
  <h1>Vai Safadão</h1> 
  <p>Controle de horários de projetos do laboratório Embedded.</p>
  <p> <img src="http://www.vemtambem.com/wp-content/uploads/2016/05/vmf-gyn-fotos-artistas-wesley-safadao.png"></p>
</div>

<div class="container">
  <p>Veja o horário de todos os alunos participantes do projeto.</p>      
  <p>Veja horário por aluno especificamente.</p>
  <p>Encontre horários em comum entre alunos e coaches.</p>
</div>

