@model Projeto.Models.Cronograma

@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
  <h1>Aplicação Embedded</h1>      
  <p>Controle de horários de projetos do laboratório Embedded.</p>
  <img src="http://g3.img-dpreview.com/27B0F051E8A0466C8A8FC912470CCFA5.jpg" alt="Imagem de um relógio." style="width:870px;height:338px;">
</div>

<div class="container">
  <p>Adicione horários.</p>  
  <p>Veja o horário de todos os alunos participantes do projeto.</p>      
  <p>Pesquise horários em comum por hora e dia.</p>
  <p>Filtre alunos por dia e hora</p>
  </div>

