@model Projeto.Models.Cronograma

@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
  <h1>Aplicação Embedded</h1>      
  <p>Controle de horários de projetos do laboratório Embedded.</p>
</div>

<div class="container">
  <p>Veja o horário de todos os alunos participantes do projeto.</p>      
  <p>Veja horário por aluno especificamente.</p>
  <p>Encontre horários em comum entre alunos e coaches.</p>
</div>

